#root {
  max-width: 720px;
  margin: 0 auto;
  width:100%;
  padding: 2rem;
  text-align: left;
}

.ArticlesList {
  /* border: 2px solid royalblue; */
  padding: 0;
}

.ArticleCard {
  /* border: 2px solid orange; */
  display: grid;
  margin-bottom: 1em;
  grid-template-rows: 3;
  grid-template-areas: "byline" "title" "body";
  padding-bottom: 1em;
  border-bottom: 1px solid darkgray; 
  overflow: hidden;

}

.ArticleCard a, .ArticleCard a:visited, .ArticleCard a:active, .Header a, .Header a:visited, .Header a:active  {
  color: inherit;
  text-decoration: none; 
}

.ArticleCard a:hover, .Header a:hover {
  opacity: 80%;
}

.ArticleCard__title {
  /* border: 2px solid red; */
  grid-area: title;
}

.ArticleCard__title h2{
  margin:0;
}

.ArticleCard__body {
  /* border: 2px solid green; */
  grid-area: body;
  display: flex;
  justify-content: space-between;
}

.ArticleCard__bodyText p{
  display: inline;
}

.ArticleCard__thumbnail {
  /* border: 2px solid salmon; */
  height: 100px;
  width: 100px;
  min-width: 100px;
  min-height: 100px;
  overflow: hidden;
  border-radius: 2px; 
  display:flex;
  justify-content: center;
}

.UserDetails {
  /* border: 2px solid mediumaquamarine; */
  display: inline-flex;
  align-items: center;
  margin-right: 1em;
}

.UserDetails__avatar {
  width: 2em;
  height: 2em;
  min-width: 2em;
  min-height: 2em;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  background-color: white;
  margin-right: .5em;

}

.UserDetails__avatar img{
  min-width: 100%;
  min-height: 100%;
  object-fit:contain;
}

.UserDetails__name {
  /* border: 2px solid yellow; */

}
.UserDetails__name p{
  padding-right: 1em;
  border-right: 2px solid darkgray;
}

.Byline {
  /* border: 2px solid teal; */
  grid-area: byline;
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  
}

.Byline-left, .Byline-right {
  /* border: 2px solid lightslategray; */
  display: inline-flex;
  padding: .5em;
}

.Byline__topic p{
  background-color: mediumaquamarine; 
  border-radius: 2px; 
  padding: .25em .5em;
}

.ArticleDisplay {
  /* border: 2px solid orange; */
  display: grid;
  grid-template-rows: 4;
  grid-template-areas: "byline" "title" "image" "article";
}

.ArticleDisplay__title {
  /* border: 2px solid green; */
}

.ArticleDisplay__image {
  /* border: 2px solid aquamarine; */
  max-height: 65vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
}

.ArticleDisplay__image img {
  height:auto;
  max-width: 100%;
  max-height: 100%;
}

.ArticleDisplay__body {
  /* border: 2px solid firebrick; */
}

