#root {
  max-width: 720px;
  margin: 0 auto;
  width:100%;
  padding: 2rem;
  text-align: left;
}

.TopicBar {
  display:flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.TopicBar__topicHeader h2 {
  padding:0;
  margin:0;
}

.TopicBar__topicHeader p {
  margin:0;
}

.TopicSelector {
  border: 1px solid darkgray;
  border-radius: 2px;
  position: relative;
}
.TopicSelector button, .Sort button {
 border-radius: 2px;
}

.TopicSelector__dropdown {
  border: 1px solid darkgray;
  text-align: right;
  padding-right: 1em;
  position: absolute;
  top: 100%;
  width: 80%;
  background-color: white;
  color: #242424;
  z-index: 1;
}

.Sort {
  display: flex;
  margin-bottom: .25em;
  margin-top: .25em;
  padding-bottom: .25em;
  padding-top: .25em;
  border-top: 1px solid darkgrey;
}

.Sort__sortBy, .Sort__order{
  position: relative;
  margin-right:.5em;
  border: 1px solid darkgray;
}

.Sort button{
  padding: 0.2em;
}

.Sort__sortBy p, .Sort__order p{
  cursor: pointer;
}

.Sort__sortBy p:hover, .Sort__order p:hover{
  opacity: 80%;
}

.Sort__sortBy-dropdown, .Sort__order-dropdown {
  position: absolute;
  top:100%;
  width: 85%;
  text-align: right;
  padding-right: 1em;
  background-color: white;
  color: #242424;
  border: 1px solid darkgray;

}

.ArticlesList {
  /* border: 2px solid royalblue; */
  padding: 0;
}

.ArticleCard {
  /* border: 2px solid orange; */
  display: grid;
  margin-bottom: 1em;
  grid-template-rows: 3;
  grid-template-areas: "byline" "title" "body";
  padding-bottom: 1em;
  border-bottom: 1px solid darkgray; 
  overflow: hidden;

}

a, a:visited, a:active {
  color: inherit;
  text-decoration: none; 
}

a:hover {
  opacity: 80%;
}

.ArticleCard__title {
  /* border: 2px solid red; */
  grid-area: title;
}

.ArticleCard__title h2{
  margin:0;
}

.ArticleCard__body {
  /* border: 2px solid green; */
  grid-area: body;
  display: flex;
  justify-content: space-between;
}

.ArticleCard__bodyText p{
  display: inline;
}

.ArticleCard__thumbnail {
  /* border: 2px solid salmon; */
  height: 100px;
  width: 100px;
  min-width: 100px;
  min-height: 100px;
  overflow: hidden;
  border-radius: 2px; 
  display:flex;
  justify-content: center;
}

.UserDetails {
  /* border: 2px solid mediumaquamarine; */
  display: inline-flex;
  align-items: center;
  margin-right: 1em;
}

.UserDetails__avatar {
  width: 2em;
  height: 2em;
  min-width: 2em;
  min-height: 2em;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  background-color: white;
  margin-right: .5em;

}

.UserDetails__avatar img{
  min-width: 100%;
  min-height: 100%;
  object-fit:contain;
}

.UserDetails__name {
  /* border: 2px solid yellow; */

}
.UserDetails__name p{
  padding-right: 1em;
  border-right: 2px solid darkgray;
}

.Byline {
  /* border: 2px solid teal; */
  grid-area: byline;
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  
}

.Byline-left, .Byline-right {
  /* border: 2px solid lightslategray; */
  display: inline-flex;
  padding: .5em;
}

.Byline__topic a{
  background-color: mediumaquamarine; 
  border-radius: 2px; 
  padding: .25em .5em;
}

.ArticleDisplay {
  /* border: 2px solid orange; */
  display: grid;
  grid-template-rows: 4;
  grid-template-areas: "byline" "title" "image" "article";
}

.ArticleDisplay__title {
  /* border: 2px solid green; */
}

.ArticleDisplay__image {
  /* border: 2px solid aquamarine; */
  max-height: 65vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
}

.ArticleDisplay__image img {
  height:auto;
  max-width: 100%;
  max-height: 100%;
}

.ArticleDisplay__body {
  /* border: 2px solid firebrick; */
}

.CommentsList {
  opacity: 90%;
  margin-top: 2em;
  border-top: 1px solid darkgray;  
}

.CommentsList-hidden {
  display:none;
}

.CommentsList__topLine{
  display:flex;
}

.CommentsList__buttonsBox {
  justify-content: center;
  align-content: center;
}

.CommentsList__topLine button, .CommentForm button{
  background-color: mediumaquamarine;
  color:white;
  padding: 1em;
  margin-left: 1em;
  padding: .5em;
}

.CommentForm button:disabled, .CommentCard__buttonsBox button:disabled {
  opacity:50%;
  cursor: not-allowed;
}

.CommentCard {
  border-bottom: 1px solid darkgray; 
  margin-bottom: 1em; 
}

.CommentCard:last-child {
  border-bottom: none;
}

.CommentCard__bottomLine{
  display:flex;
  justify-content: space-between;
  align-items: center;
}



.CommentCard__buttonsBox button {
  background-color: darkmagenta;
  color: white;
  padding: .5em;
}

.Votes {
  display: flex
}

.Votes__buttonsBox{
  display: flex;
  border-radius: 2px;
  border: 1px solid gray;
  padding: .2em;
  justify-content: center;
  align-content: center;
}

.Votes__buttonsBox button{
  padding: .2em;
}

.Votes__buttonsBox p{
  margin:0 1em 0 1em;
}

.Votes__error-true, .CommentForm__error-true {
  display: inline;
  max-width: 90%;
}

.Votes__error-false, .CommentForm__error-false {
  display: none;
}

.CommentForm {
  display:flex;
  align-items: flex-end;
}

.CommentForm__inputBox{
  min-width: 80%;
  padding-top: 1em;
  padding-bottom: 1em;
}
